
body {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  background: #3c3c3c
}

.font_righteous {
  font-family: 'Righteous', cursive;
}

.bck_black {
  background: #3c3c3c;
}
.bck_white {
  background: #ffffff;
}
.bck_red {
  background: #ff4800;
}
.bck_yellow {
  background: #ffa800;
}

.iconImage {
  width: 20px;
  margin-right: 10px;
}

.center_wrapper {
  width: 900px;
  margin:0 auto;
}

/*====================
        HEADER
======================*/


header {
  padding:5px 0px;
  transition: all 300ms ease-in;
}

header .header_logo {
  flex-grow: 1;
}
header .header_logo_daycare{
  font-size: 40px;
}

header .header_logo_title {
  text-transform: uppercase;
}



/*====================
        CARROUSEL
======================*/


.carrousel_wrapper {
  height:700px;
  overflow: hidden;
}

.carrousel_image {
  
  background-size: cover !important;
}

.daycare {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 160px;
  -webkit-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%);   
  border: 2px solid white;
}

.daycare .wrapper {
  border: 2px solid white;
  height: 121px;
  margin: 6px;
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding: 21px 70px 0px 70px;
  
}

.firstImage{
  width: 100%;
  position: absolute;

}

/*====================
        HOME INFO
======================*/

.vn_wrapper {
  display: flex;
  padding: 170px 0px;
}

.vn_item {
  width:50%;
  color:#ffffff;
  text-align: center;
}
                    
/* .vn_item .vn_outer {
  width: 300px;
  border: 2px solid #828282;
  margin: auto;
  padding: 3px;
} */

/* .vn_item .vn_inner { 
  border: 2px solid #828282;
  position: relative;
  padding: 0px 20px;
  transition: all 500ms ease;
} */

.vn_item .vn_inner:hover {
  background: #3e3e3e;
}

/* .vn_item .vn_icon_square {
  width: 100px;
  height: 100px;
  position: absolute;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -54px;
  left: 100px;
} */

.vn_item .vn_icon {
  width: 50px;
  height: 50px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute;
  top: -30px;
  left: 124px;
}

.vn_item .vn_title {
  font-size: 28px;
  margin: 90px 0px 20px 0px;
  /* border-bottom: 1px solid #5d5d5d; */
  padding-bottom: 10px;
}

.vn_item .vn_desc {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 90px;
}

/*====================
        Parent REG login
======================*/


.PR_LOGIN{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.PR_LOGIN h3{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.PR_LOGIN input[type="text"],
.PR_LOGIN input[type="date"],
.PR_LOGIN input[type="datetime"],
.PR_LOGIN input[type="email"],
.PR_LOGIN input[type="number"],
.PR_LOGIN input[type="search"],
.PR_LOGIN input[type="time"],
.PR_LOGIN input[type="url"],
.PR_LOGIN input[type="password"],
.PR_LOGIN textarea,
.PR_LOGIN select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.PR_LOGIN textarea{
	resize:none;
	overflow: hidden;
}
.PR_LOGIN input[type="button"], 
.PR_LOGIN input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.PR_LOGIN input[type="button"]:hover, 
.PR_LOGIN input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}