body {
  background-color: lightblue;
  padding:0;
  margin:0;
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;
  background:#ffc6b4,
}

.font_righteous {
  font-family: 'Righteous', cursive;
}

.bck_black {
  background: #ffc6b4;
}
.bck_white {
  background: #ffffff;
}
.bck_red {
  background: #ff4800;
}
.bck_yellow {
  background: #ffa800;
}

.iconImage {
  width: 20px;
  margin-right: 10px;
}

.center_wrapper {
  width: 900px;
  margin:0 auto;
}

/*====================
        HEADER
======================*/


header {
  padding:5px 0px;
  transition: all 300ms ease-in;
}

header .header_logo {
  flex-grow: 1;
}
header .header_logo_daycare{
  font-size: 40px;
}

header .header_logo_title {
  text-transform: uppercase;
}



/*====================
        CARROUSEL
======================*/


.carrousel_wrapper {
  height:700px;
  overflow: hidden;
}

.carrousel_image {
  
  background-size: cover !important;
}

.daycare {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 400px;
  height: 140px;
  -webkit-transform: translate(-120%, -10%);  
  transform: translate(-120%, -10%);   
  /* border: 2px solid  #e988ac; */
}

.daycare .wrapper {
  /* border: 2px solid white; */
  height: 121px;
  margin: 6px;
  text-align: center;
  color:#f7f7f7 ;
  font-size: 100px;
  padding: 21px 70px 0px 70px;
  
}
.daycare .wrapper .span1{
  color: #e988ac
}

.firstImage{
  width: 100%;
  position: absolute;
height: auto;
}

/*====================
        HOME INFO
======================*/

.vn_wrapper {
  display: flex;
  padding: 170px 0px;
}

.vn_item {
  width:50%;
  color:#ffffff;
  text-align: center;
}
                    
/* .vn_item .vn_outer {
  width: 300px;
  border: 2px solid #828282;
  margin: auto;
  padding: 3px;
} */

/* .vn_item .vn_inner { 
  border: 2px solid #828282;
  position: relative;
  padding: 0px 20px;
  transition: all 500ms ease;
} */



/* .vn_item .vn_icon_square {
  width: 100px;
  height: 100px;
  position: absolute;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -54px;
  left: 100px;
} */

.vn_item .vn_icon {
  width: 50px;
  height: 50px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute;
  top: -30px;
  left: 124px;
}

.vn_item .vn_title {
  font-size: 28px;
  margin: 90px 0px 20px 0px;
  /* border-bottom: 1px solid #5d5d5d; */
  padding-bottom: 10px;
}

.vn_item .vn_desc {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 90px;
}

/*====================
        Parent REG login
======================*/


.PR_LOGIN{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.PR_LOGIN h3{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.PR_LOGIN input[type="text"],
.PR_LOGIN input[type="date"],
.PR_LOGIN input[type="datetime"],
.PR_LOGIN input[type="email"],
.PR_LOGIN input[type="number"],
.PR_LOGIN input[type="search"],
.PR_LOGIN input[type="time"],
.PR_LOGIN input[type="url"],
.PR_LOGIN input[type="password"],
.PR_LOGIN textarea,
.PR_LOGIN select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.PR_LOGIN textarea{
	resize:none;
	overflow: hidden;
}
.PR_LOGIN input[type="button"], 
.PR_LOGIN input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.PR_LOGIN input[type="button"]:hover, 
.PR_LOGIN input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}




/*====================
        Parent login
======================*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
body,
html {
  margin: 0;
  height: 100%;

}


input {
  border: none;
  
}

button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

::-webkit-input-placeholder .input-line:focus +::input-placeholder {
  color: #fff;
}

.highlight {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  cursor: pointer;
  transition: color .2s ease;
}

.highlight:hover {
  color: #fff;
  transition: color .2s ease;
}

.spacing {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 120px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.65)
  font-family: Helvetica, sans-serif
}

.input-line:focus {
  outline: none;
  border-color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.ghost-round {
  cursor: pointer;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.65);
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 19px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
  line-height: 2.5em;
  margin-top: auto;
  margin-bottom: 25px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.ghost-round:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.input-line {
  background: none;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: #fff;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 19px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.full-width {
  width: 100%;
}

.input-fields {
  margin-top: 25px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #eee;
  height: 100%;
  margin: 50px auto;
}

.content {
  padding-left: 25px;
  padding-right: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  z-index: 5;
  display: inline-block;
  text-align: center;
}

.welcome {
  font-weight: 200;
  margin-top: 75px;
  text-align: center;
  font-size: 40px;
  font-size: 2.5rem;
  letter-spacing: 0px;
  letter-spacing: 0.05rem;
  font-family: Helvetica, sans-serif
}

.subtitle {
  text-align: center;
  line-height: 1em;
  font-weight: 100;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-family: Helvetica, sans-serif
}

.menu {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 50px;
}

.window {
  margin-left: 38%;
  z-index: 100;
  color: #fff;
  font-family: roboto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 560px;
  width: 360px;
  background: #fff;
  background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') top left no-repeat;
}

.overlay {
 
    background:transparent;
    background:#78bcc4;
  opacity: 0.45;
  filter: alpha(opacity=85);
  height: 560px;
  position: absolute;
  width: 360px;
  z-index: 1;
  display: inline-block;
  text-align: center;
}

.bold-line {
  background: #e7e7e7;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 100%;
  height: 360px;
  z-index: 1;
  opacity:0.1;
    background: url('') left no-repeat;
  background-size:cover;
}

@media (max-width: 500px) {
  .window {
    width: 100%;
    height: 100%;
  }
  .overlay {
    width: 100%;
    height: 100%;
  }
}
h1{
  text-align: center;
  font-family: Helvetica, sans-serif;


}

h2{
  text-align: center
  
}

.Dash {
  text-align: center;
}


.DashLayout {
  padding-top: 10px;
  margin-top: -70px;
  margin-left: 25%;
  border: lightcyan 1px solid;
  width: 50%;
}

.DashForm {
  padding-top: 10px;
  margin-top: -70px;
  margin-left: 25%;
  border: lightcyan 1px solid;
  width: 50%;
}

.DashHeader {
  color: lightcyan;
  text-align: center;
  font-weight: lighter;
  font-style: italic;
  font-size: 50px;
}

.DashText {
  font-size: 25px;
  color:rgb(83, 83, 83);
  text-align: center;
  /* margin-left: -80px; */
  font-weight: lighter;
}

.DashSubText {
  margin: -20px;
  font-size: 20px;
  color:gray;
  text-align: center;
  font-weight: lighter;
}

.EccSubText {
  font-size: 20px;
  color:gray;
  text-align: center;
  font-weight: lighter;
}

.DashButton {
text-align: center;
font-weight: lighter;
font-size: 20px;
margin: 15px;
}

.EccButton {
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
  margin: 15px;
  margin-top: -20px;
  }